<li>
  <span><%= review.food %></span>
  <span><%= review.content %></span>
  <span><%= link_to review.user.name, review.user %></span>
  <span><%= time_ago_in_words(review.created_at) %></span>
</li>
