<div>
  <%= link_to "IPPIN", root_path %>
  <nav>
    <ul>
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "Help",   help_path %></li>
      <li><%= link_to "Log in", '#' %></li>
    </ul>
  </nav>
</div>
